<h2><%= @record_label.name %></h2>
<p>
  Founded <%= @record_label.year_founded %> in <%= @record_label.headquarters %> by <%= @record_label.founder %></td>
</p>
<p>
  <%= link_to 'Index', record_labels_path %>
</p>
