<h1><%= link_to 'Artists', artists_path %>&nbsp;Albums&nbsp;<%= link_to 'Labels', record_labels_path %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>Label</th>
    <th>Genre</th>
    <th>Comments</th>
  </tr>
  <% @albums.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= link_to a.title, album_path(a) %></td>
      <td><%= a.artist.name %></td>
      <td><%= a.year %></td>
      <td><%= a.record_label.name %></td>
      <td><%= a.artist.genre %></td>
      <td><%= a.review %></td>
    </tr>
  <% end %>


